<div class="new-item-list" *ngIf="newMusicList.length; else elseBlock">

    <div class="new-item-list-row" *ngFor="let item of newMusicList">
        <div class="new-item-list-left-col" [routerLink]="['/detail']">
            <div class="new-item-list-img">
                <img src="{{imagePath}}/{{item?.image}}" alt="image">
            </div>
            <div class="new-item-list-info">
                <p class="user-name">{{item?.song}}</p>
                <p class="user-info">{{item?.artist}}</p>
            </div>
        </div>
        <div class="more-menu">
            <div class="btn-group" dropdown>
                <span id="button-basic" dropdownToggle type="button"
                        aria-controls="dropdown-basic" class="more-menu">
                        ...
                </span>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Edit</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">View</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>

<ng-template #elseBlock>
    <div class="new-item-list-row">
        <div class="new-item-list-left-col">
            <div class="new-item-list-info">
                <p>No record found!</p>
            </div>
        </div>
    </div>
</ng-template>