<!-- start top header -->
<div class="top-header">
    <img src="../assets/images/user-icon.jpg" alt="image">
</div>
<!-- start top header -->

<div class="subheader-section mt-3">
    <div class="subheader-section-left">
        <p class="hello-text">Add your</p>
        <p class="user-name">Music</p>
    </div>
</div>

<div class="graphic-wrapper">
  <img src="../../../assets/images/party-girl.png" alt="image">
</div>

<div class="button-wrapper">
  <button routerLink="/" type="button" class="btn btn-primary">Let's go</button>
</div>