<!-- start top header -->
<app-header-search></app-header-search>
<!-- ends top header -->

<!-- start profile section -->
<app-profile></app-profile>
<!-- ends profile section -->

<tabset>
    <tab heading="Recently">
        <div class="bad-guy-image-wrapper">
          <img src="../../../assets/images/leena1.jpg" alt="image">
        </div>
        <div class="bad-guy-text-info">
          <p class="black-text">Bad guy</p>
          <p class="grey-text">Billie eilish</p>
        </div>
    </tab>
    <tab heading="Popular">
        <div class="tab-item-wrapper">
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
        </div>
    </tab>
    <tab heading="Favorite">
        <div class="tab-item-wrapper">
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
        </div>
    </tab>
    <tab heading="Top 10">
        <div class="tab-item-wrapper">
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
            <div class="tab-item-col">
                <div class="image-wrapper"><img src="../assets/images/neha.jpg" alt="image"></div>
                <p>Talyor</p>
            </div>
        </div>
    </tab>
</tabset>


<!-- start footer section -->
<app-footer></app-footer>
<!-- ends footer section -->